salesforce_sfdx/main/default/flows/XOM_Assign_Task_to_Me.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Assigns the selected task to the current user</description>
    <formulas>
        <name>Current_User</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>[XOM] Assign Task to Me {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[XOM] Assign Task to Me</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>292</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Confirmation_Step</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>vlocity_cmt__AssignedToUserId__c</field>
            <value>
                <elementReference>Current_User</elementReference>
            </value>
        </inputAssignments>
        <object>vlocity_cmt__OrchestrationItem__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Step</name>
        <label>Confirmation Step</label>
        <locationX>514</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p>The task is assigned to you&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>