salesforce_sfdx/main/default/flows/XOM_Skip_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Skips the selected task</description>
    <interviewLabel>[XOM] Skip Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[XOM] Skip Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Skip_Task</name>
        <label>Skip Task</label>
        <locationX>239</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Confirmation_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>vlocity_cmt__State__c</field>
            <value>
                <stringValue>Skipped</stringValue>
            </value>
        </inputAssignments>
        <object>vlocity_cmt__OrchestrationItem__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Step</name>
        <label>Confirmation Step</label>
        <locationX>543</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;The task is skipped&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Skip_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
