salesforce_sfdx/main/default/flows/XOM_Create_Dependency_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Decompose_Another_Spec_Into_Current_Spec_Picklist_Value</name>
        <choiceText>Decompose another (higher-level) specification into the current specification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decompose another (higher-level) specification into the current specification</stringValue>
        </value>
    </choices>
    <choices>
        <name>Decompose_Current_Spec_Into_Another_Spec_Picklist_Value</name>
        <choiceText>Decompose the current specification into another (lower-level) specification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decompose the current specification into another (lower-level) specification</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decomposition_Relationship_Type_Decision</name>
        <label>Decomposition Relationship Type Decision</label>
        <locationX>444</locationX>
        <locationY>220</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decompose_Current_Spec_Into_Another_Spec_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Decomposition_Relationship_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Decompose_Current_Spec_Into_Another_Spec_Picklist_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Decomposition_Relationship_Type1_Form</targetReference>
            </connector>
            <label>Decompose Current Spec Into Another Spec Outcome</label>
        </rules>
        <rules>
            <name>Decompose_Another_Spec_into_Current_Spec_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Decomposition_Relationship_Type_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Decompose_Another_Spec_Into_Current_Spec_Picklist_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Decomposition_Relationship_Type2_Form</targetReference>
            </connector>
            <label>Decompose Another Spec into Current Spec Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Source_and_Target_Condition</name>
        <label>Same Source and Target Condition</label>
        <locationX>1049</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>Create_Decomposition_Relationship_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_Source_and_Target</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Source_Specification_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Selected_Target_Specification_Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Same_Source_and_Target_Condition_Form</targetReference>
            </connector>
            <label>Same Source and Target</label>
        </rules>
    </decisions>
    <description>Allows to create a dependency relationship between orchestration items</description>
    <interviewLabel>[XOM] Create Dependency Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[XOM] Create Dependency Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Decomposition_Relationship_Step</name>
        <label>Create Decomposition Relationship Step</label>
        <locationX>1371</locationX>
        <locationY>216</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>DR: {!Selected_Source_Specification_Name} > {!Selected_Target_Specification_Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__DestinationProductId__c</field>
            <value>
                <elementReference>Selected_Target_Specification_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__SourceProductId__c</field>
            <value>
                <elementReference>Selected_Source_Specification_Id</elementReference>
            </value>
        </inputAssignments>
        <object>vlocity_cmt__DecompositionRelationship__c</object>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Choose_Decomposition_Type_Step</name>
        <label>Choose Decomposition Type Step</label>
        <locationX>247</locationX>
        <locationY>218</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decomposition_Relationship_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Decomposition_Type_Display_Text</name>
            <fieldText>&lt;p>What type of decomposition relationship you want to set up?&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Decomposition_Relationship_Type_Picklist</name>
            <choiceReferences>Decompose_Current_Spec_Into_Another_Spec_Picklist_Value</choiceReferences>
            <choiceReferences>Decompose_Another_Spec_Into_Current_Spec_Picklist_Value</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Decompose_Current_Spec_Into_Another_Spec_Picklist_Value</defaultSelectedChoiceReference>
            <fieldText>Decomposition Relationship Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Decomposition_Relationship_Type1_Form</name>
        <label>Create Decomposition Relationship Form</label>
        <locationX>726</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Same_Source_and_Target_Condition</targetReference>
        </connector>
        <fields>
            <name>Create_DR_Display_Text</name>
            <fieldText>&lt;p>Create Decomposition Relationship&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Source_Specification_Type1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>vlocity_cmt__SourceProductId__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Source Specification</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>vlocity_cmt__DecompositionRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Source_Specification_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_Source_Specification_Name</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Target_Specification_Type1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>vlocity_cmt__DecompositionRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Target Specification</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>vlocity_cmt__DestinationProductId__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Target_Specification_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_Target_Specification_Name</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Decomposition_Relationship_Type2_Form</name>
        <label>Create Decomposition Relationship Form</label>
        <locationX>744</locationX>
        <locationY>384</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Same_Source_and_Target_Condition</targetReference>
        </connector>
        <fields>
            <name>Source_Specification_Type2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>vlocity_cmt__SourceProductId__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>vlocity_cmt__DecompositionRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Source Specification</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Source_Specification_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_Source_Specification_Name</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Target_Specification_Type2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>vlocity_cmt__DestinationProductId__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Target Specification</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>vlocity_cmt__DecompositionRelationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Target_Specification_Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_Target_Specification_Name</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Same_Source_and_Target_Condition_Form</name>
        <label>Same Source and Target Condition Form</label>
        <locationX>731</locationX>
        <locationY>218</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decomposition_Relationship_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Correct_Input_Display_Text</name>
            <fieldText>&lt;p>A specification cannot be decomposed into itself&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>Choose_Decomposition_Type_Step</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_Source_Specification_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_Source_Specification_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_Target_Specification_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_Target_Specification_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>