salesforce_sfdx/main/default/flows/XOM_Add_Ad_Hoc_Manual_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Target_Swimlane_Existing</name>
        <label>Assign Target Swimlane - Existing</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ParentFRLId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ad_Hoc_Task.vlocity_cmt__FulfilmentRequestLineId__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Orchestration_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Target_Swimlane_New</name>
        <label>Assign Target Swimlane - New</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ParentFRLId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Fulfillment_Request_Line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Orchestration_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Ad_Hoc_Tasks_Exist</name>
        <label>Decision Ad Hoc Tasks Exist</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_Fulfillment_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ad_Hoc_Task_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Ad_Hoc_Task.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Target_Swimlane_Existing</targetReference>
            </connector>
            <label>Ad Hoc Task Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Create_Dependencies</name>
        <label>Create Dependencies?</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkbox_Add_Dependencies</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Dependencies_Depends_On</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Otter. Manually add an ad-hoc task (including dependencies) to an orchestration plan</description>
    <dynamicChoiceSets>
        <name>Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>vlocity_cmt__Priority__c</picklistField>
        <picklistObject>vlocity_cmt__OrchestrationItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoice_Manual_Queues</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>vlocity_cmt__ManualQueue__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoice_OrchestrationItems</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_cmt__OrchestrationPlanId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>aBh7S0000008OzFSAU</stringValue>
            </value>
        </filters>
        <limit>10</limit>
        <object>vlocity_cmt__OrchestrationItem__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>[XOM] Add Ad-Hoc Manual Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[XOM] Add Ad-Hoc Manual Task</label>
    <loops>
        <name>Loop_over_Selected_Complete_Before_Records</name>
        <label>Loop over Selected Complete Before Records</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <collectionReference>dataTable_CompleteBefore.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Dependency_Complete_Before</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_over_Selected_Depends_On_Records</name>
        <label>Loop over Selected Depends On Records</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <collectionReference>dataTable_DependsOn_1.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Dependency_Depends_On</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_over_Selected_Complete_Before_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Dependency_Complete_Before</name>
        <label>Create Dependency (Complete Before)</label>
        <locationX>138</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Loop_over_Selected_Complete_Before_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>dummy dependency</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__DependsOnItemId__c</field>
            <value>
                <elementReference>Create_Orchestration_Item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__OrchestrationItemId__c</field>
            <value>
                <elementReference>Loop_over_Selected_Complete_Before_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__State__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>vlocity_cmt__OrchestrationDependency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Dependency_Depends_On</name>
        <label>Create Dependency (Depends On)</label>
        <locationX>138</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Loop_over_Selected_Depends_On_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>dummy dependency</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__DependsOnItemId__c</field>
            <value>
                <elementReference>Loop_over_Selected_Depends_On_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__OrchestrationItemId__c</field>
            <value>
                <elementReference>Create_Orchestration_Item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__State__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>vlocity_cmt__OrchestrationDependency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fulfillment_Request</name>
        <label>Create Fulfillment Request</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Create_Fulfillment_Request_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>vlocity_cmt__OrderId__c</field>
            <value>
                <elementReference>recordId.vlocity_cmt__OrderId__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__orchestrationPlanId__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>vlocity_cmt__FulfilmentRequest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fulfillment_Request_Line</name>
        <label>Create Fulfillment Request Line</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Assign_Target_Swimlane_New</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Order__c</field>
            <value>
                <elementReference>recordId.vlocity_cmt__OrderId__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orchestration_Plan__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__Action__c</field>
            <value>
                <stringValue>Add</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__FulfilmentRequestID__c</field>
            <value>
                <elementReference>Create_Fulfillment_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__FulfilmentStatus__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>vlocity_cmt__FulfilmentRequestLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Orchestration_Item</name>
        <label>Create Orchestration Item</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>decision_Create_Dependencies</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>text_Orchestration_Item_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__AssignedToManualQueueId__c</field>
            <value>
                <elementReference>picklist_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__ExpectedCompletionDate__c</field>
            <value>
                <elementReference>dateTime_Requested_Completion_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__FulfilmentRequestLineId__c</field>
            <value>
                <elementReference>ParentFRLId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__ManualQueueId__c</field>
            <value>
                <elementReference>picklist_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__OrchestrationItemDefinitionId__c</field>
            <value>
                <elementReference>Get_Ad_Hoc_Orchestration_Item_Definition.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__OrchestrationItemType__c</field>
            <value>
                <stringValue>ManualTask</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__OrchestrationPlanId__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__Priority__c</field>
            <value>
                <elementReference>picklist_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__RequestedStartDate__c</field>
            <value>
                <elementReference>dateTime_Requested_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__Scope__c</field>
            <value>
                <stringValue>Swimlane</stringValue>
            </value>
        </inputAssignments>
        <object>vlocity_cmt__OrchestrationItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Find the ad hoc task definition (by predefined name)</description>
        <name>Get_Ad_Hoc_Orchestration_Item_Definition</name>
        <label>Get Ad Hoc Orchestration Item Definition</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ad_Hoc_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual Task Template</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vlocity_cmt__OrchestrationItemDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find an existing ad hoc task within the same plan. This is necessary to put new ad hoc tasks into the same swimlane (FRL) on the diagram</description>
        <name>Get_Ad_Hoc_Task</name>
        <label>Get Ad Hoc Task</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Orchestration_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_cmt__OrchestrationItemDefinitionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Ad_Hoc_Orchestration_Item_Definition.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>vlocity_cmt__OrchestrationPlanId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vlocity_cmt__OrchestrationItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the list of orchestration items from the plan</description>
        <name>Get_Orchestration_Items</name>
        <label>Get Orchestration Items</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Orchestration_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_cmt__OrchestrationPlanId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>vlocity_cmt__OrchestrationItem__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Dependencies_Depends_On</name>
        <label>Create Dependencies - Depends On</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen_Create_Dependencies_Complete_Before</targetReference>
        </connector>
        <fields>
            <name>displayText_DependsOnInstructions</name>
            <fieldText>&lt;p&gt;You can specify the tasks that should complete &lt;strong&gt;before&lt;/strong&gt; the new task. Your new task will be placed right after the selected task. You can select more than one task&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dataTable_DependsOn_1</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>vlocity_cmt__OrchestrationItem__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Depends On</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Orchestration_Items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d3eb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Orchestration Item Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;vlocity_cmt__OrchestrationItemType__c&quot;,&quot;guid&quot;:&quot;column-9aa7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Orchestration Item Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;vlocity_cmt__State__c&quot;,&quot;guid&quot;:&quot;column-eb72&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;State&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-fdb3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>checkbox_Add_Dependencies</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Create New Orchestration Item</description>
        <name>Create_New_Orchestration_Item</name>
        <label>Create New Orchestration Item</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Ad_Hoc_Tasks_Exist</targetReference>
        </connector>
        <fields>
            <name>text_Orchestration_Item_Name</name>
            <dataType>String</dataType>
            <fieldText>Orchestration Item Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_New_Orchestration_Item_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_New_Orchestration_Item_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>picklist_Priority</name>
                    <choiceReferences>Priority</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>2. Normal</stringValue>
                    </defaultValue>
                    <fieldText>Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Task priority will help the teams to plan accordingly&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_New_Orchestration_Item_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>picklist_Queue</name>
                    <choiceReferences>recChoice_Manual_Queues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Queue</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Indicates the queue where the new task will be assigned&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_New_Orchestration_Item_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_New_Orchestration_Item_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dateTime_Requested_Start_Date</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Requested Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_New_Orchestration_Item_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dateTime_Requested_Completion_Date</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Requested Completion Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>checkbox_Add_Dependencies</name>
            <dataType>Boolean</dataType>
            <fieldText>I want to add dependencies on the next step</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;You can indicate that your new task will depend on another task (or a set of tasks) or should complete before another task (or a set of tasks)&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Create_Dependencies_Complete_Before</name>
        <label>Create Dependencies - Complete Before</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_over_Selected_Depends_On_Records</targetReference>
        </connector>
        <fields>
            <name>displayText_CompleteBeforeInstructions</name>
            <fieldText>&lt;p&gt;You can specify the tasks that should not be started &lt;strong&gt;until&lt;/strong&gt; your new task is completed. Your new task will be placed right before the selected task. You can select more than one task&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dataTable_CompleteBefore</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>vlocity_cmt__OrchestrationItem__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Complete Before</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Orchestration_Items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d3eb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Orchestration Item Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;vlocity_cmt__OrchestrationItemType__c&quot;,&quot;guid&quot;:&quot;column-9aa7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Orchestration Item Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;vlocity_cmt__State__c&quot;,&quot;guid&quot;:&quot;column-4fa8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;State&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>checkbox_Add_Dependencies</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Ad_Hoc_Orchestration_Item_Definition</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ParentFRLId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Current record</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>vlocity_cmt__OrchestrationPlan__c</objectType>
    </variables>
</Flow>
