salesforce_sfdx/main/default/flows/XOM_Reset_Failed_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>[XOM] Reset Failed Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[XOM] Reset Failed Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Clean_Integration_Fields</name>
        <label>Clean Integration Fields</label>
        <locationX>376</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Confirmation_Step</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Request__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__State__c</field>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </inputAssignments>
        <object>vlocity_cmt__OrchestrationItem__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Step</name>
        <label>Confirmation Step</label>
        <locationX>635</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p>The task is reset to ready and the last request/response are erased&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Clean_Integration_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>